<a href="https://colab.research.google.com/github/pmukeshreddy/loan-payment-using-ml/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing libraries

In [181]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from tensorflow import keras
import tensorflow as tf
from sklearn.metrics import r2_score
from sklearn.preprocessing import MaxAbsScaler
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC

data

In [88]:
data = pd.read_csv("/content/drive/MyDrive/instagram and snapchat project/loan_data.csv")

In [89]:
data.describe()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000

In [90]:
data

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [91]:
data.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [41]:
onehote = OneHotEncoder()

In [120]:
x = data.drop(columns="not.fully.paid",axis=1)
y = data["not.fully.paid"]

In [111]:
x.shape

(9578, 13)

In [126]:
ft = OneHotEncoder()
x = ft.fit_transform(x)

In [145]:
scaler = MaxAbsScaler()
x = scaler.fit_transform(x)

In [146]:
y.value_counts()

0    8045
1    1533
Name: not.fully.paid, dtype: int64

In [149]:
sm = SMOTE(sampling_strategy="minority",k_neighbors = 5, random_state=1)
x,y = sm.fit_resample(x,y)

In [150]:
y.value_counts()

0    8045
1    8045
Name: not.fully.paid, dtype: int64

In [156]:
x_train,x_test,y_train,y_test=train_test_split(x,y,stratify=y,random_state=2)

building model

BaggingRegressor

In [151]:
from sklearn.ensemble import BaggingRegressor
model = BaggingRegressor()

In [152]:
model.fit(x_train,y_train)

BaggingRegressor()

In [158]:
training_data_prdication = model.predict(x_train)
training_eva = r2_score(training_data_prdication,y_train)

In [159]:
training_eva

0.9443620984803801

In [162]:
test_data_predication = model.predict(x_test)
test_eva = r2_score(test_data_predication,y_test)

In [163]:
test_eva

0.9422064418689565

LogisticRegression

In [165]:
m1 = LogisticRegression()

In [167]:
m1.fit(x_train,y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [168]:
training_data_prdication = m1.predict(x_train)
training_eva = r2_score(training_data_prdication,y_train)

In [169]:
training_eva

0.9781215922381817

In [170]:
test_data_predication = m1.predict(x_test)
test_eva = r2_score(test_data_predication,y_test)

In [172]:
test_eva

0.622738215579459

svc

In [182]:
svc = LinearSVC()

In [183]:
svc.fit(x_train,y_train)

LinearSVC()

In [184]:
training_data_prdication = svc.predict(x_train)
training_eva = r2_score(training_data_prdication,y_train)

In [185]:
training_eva

1.0

In [186]:
test_data_predication = svc.predict(x_test)
test_eva = r2_score(test_data_predication,y_test)

In [187]:
test_eva

0.7268564387557522